<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Report a stolen bike</h3>
		</div>
		<div class="panel-body">
			<form ng-submit="processForm()">
				<div class="form-group">
					<label for="description">Description</label>
					<textarea id="description" class="form-control" placeholder="What happend?" ng-model="formData.description"></textarea>
				</div>

				<div class="form-group">
					<label for="email">Email Address</label>
					<input type="email" id="email" class="form-control" placeholder="You will get an email when somebody reports your bike as seen." ng-model="formData.email">
				</div>

				<div class="form-group">
					<label for="time">When was it stolen?</label>
					<input type="datetime-local" id="time" class="form-control" ng-model="formData.date"></textarea>
				</div>

				<div class="form-group">
					<label>
						Locked?
					</label>
					<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formData.locked"> The bike was locked
						</label>
					</div>
				</div>

				<div class="form-group">
					<label for="photo">Photo</label>
					<input type="text" id="photo" class="form-control" placeholder="If you have a URL to a photo of the bike you can paste it here." ng-model="formData.photo">
				</div>

				<div class="form-group">
					<label for="serial">Serial number</label>
					<input type="text" id="serial" class="form-control" ng-model="formData.serial" placeholder="The serial number can typically be found at the bottom of your bike.">
				</div>

				<div class="form-group">
					<label for="colour">Colour</label>
					<input type="text" id="colour" class="form-control" ng-model="formData.colour" placeholder="The main colour(s) of your bike.">
				</div>

				<div class="form-group">
					<label for="brand">Brand</label>
					<input type="text" id="brand" class="form-control" ng-model="formData.brand" placeholder="Which brand is your bike?">
				</div>

				<div class="form-group">
					<label>Where was it stolen?</label>
					<google-map-locator class="google-map"
					location = "{{location}}"
					radius="10"
					on-location-change="onLocationChange(location)"
					>
				</google-map-locator>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
